.cityList {
  width: 100%;
  height: 65vh;
  list-style: none;
  overflow-y: scroll;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  list-style: none;
}

.cityList::-webkit-scrollbar {
  width: 0;
}
