* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 60px auto;
  max-width: 900px;
  position: relative;
  color: #444;
}

button {
  color: inherit;
  font-family: inherit;
  border: none;
  cursor: pointer;
}

.toggle {
  position: absolute;
  right: 0;
  background: none;
  font-size: 30px;
  padding: 4px;
}

.tabs {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 16px;
}

.tab {
  border-radius: 12px;
  background-color: #edf2ff;
  padding: 12px 24px;
  margin-right: 8px;
  font-size: 16px;
  font-weight: bold;
  color: #364fc7;
  transition: all 0.3s;
}

.tab.active,
.tab:hover {
  background-color: #364fc7;
  color: #fff;
}

.tab-content {
  background-color: #edf2ff;
  padding: 48px; /* Mais respiro interno */
  border-radius: 16px;
  text-align: center; /* Centraliza o texto */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.tab-content h4 {
  font-size: 20px;
  margin-bottom: 16px;
  color: #364fc7;
}

.tab-content p {
  font-size: 18px;
}

.tab-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 24px;
}

.tab-actions > button {
  background: none;
  text-decoration: underline;
  color: #4c6ef5;
  font-size: 14px;
}

.hearts-counter {
  display: flex;
  align-items: center;
  gap: 8px;
}

.hearts-counter button {
  background-color: #f03e3e;
  padding: 4px 6px;
  border-radius: 4px;
  color: #fff;
  line-height: 1;
}

.tab-undo {
  display: flex;
  gap: 8px;
}

.tab-undo button {
  background-color: #364fc7;
  color: #fff;
  padding: 6px 12px;
  border-radius: 4px;
}
